<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sutong.auditPastOrderInfo.mapper.AuditPastOrderInfoMapper" >

    <resultMap id="BaseResultMap" type="com.sutong.auditPastOrderInfo.model.AuditPastOrderInfo" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="PAST_ORDER_ID" property="pastOrderId" jdbcType="VARCHAR" />
        <result column="ENSTATION" property="enstation" jdbcType="VARCHAR" />
        <result column="EXSTATION" property="exstation" jdbcType="VARCHAR" />
        <result column="TRANS_VEHICLE_TYPE" property="transVehicleType" jdbcType="VARCHAR" />
        <result column="DO_VEHICLE_TYPE" property="doVehicleType" jdbcType="VARCHAR" />
        <result column="VEHICLE_TYPE" property="vehicleType" jdbcType="VARCHAR" />
        <result column="TRANS_VEHICLE_ID" property="transVehicleId" jdbcType="VARCHAR" />
        <result column="DO_VEHICLE_ID" property="doVehicleId" jdbcType="VARCHAR" />
        <result column="TRANS_SUBTR_FEE" property="transSubtrFee" jdbcType="VARCHAR" />
        <result column="OWE_FEE" property="oweFee" jdbcType="VARCHAR" />
        <result column="SUBTR_FEE" property="subtrFee" jdbcType="VARCHAR" />
        <result column="TRANS_TIME" property="transTime" jdbcType="VARCHAR" />
        <result column="TRANS_OBU_ID" property="transObuId" jdbcType="VARCHAR" />
        <result column="TRANS_CARD_ID" property="transCardId" jdbcType="VARCHAR" />
        <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
        <result column="PAY_BACK_FEE_ID" property="payBackFeeId" jdbcType="VARCHAR" />
        <result column="PAY_BACK_FEE_REALITY" property="payBackFeeReality" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, PAST_ORDER_ID, ENSTATION, EXSTATION, TRANS_VEHICLE_TYPE, DO_VEHICLE_TYPE, VEHICLE_TYPE,
        TRANS_VEHICLE_ID, DO_VEHICLE_ID, TRANS_SUBTR_FEE, OWE_FEE, SUBTR_FEE, TRANS_TIME,
        TRANS_OBU_ID, TRANS_CARD_ID, ORDER_STATUS, PAY_BACK_FEE_ID, PAY_BACK_FEE_REALITY
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from AUDIT_PAST_ORDER_INFO
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--查询通行费差额明细单列表-->
    <select id="doFindAuditPastOrderInfoPage" resultMap="BaseResultMap" parameterType="com.sutong.auditPastOrderInfo.model.AuditPastOrderInfo" >
        select
        <include refid="Base_Column_List" />
        from AUDIT_PAST_ORDER_INFO
        where TRANS_OBU_ID = #{transObuId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from AUDIT_PAST_ORDER_INFO
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.sutong.auditPastOrderInfo.model.AuditPastOrderInfo" >
        insert into AUDIT_PAST_ORDER_INFO (ID, PAST_ORDER_ID, ENSTATION,
            EXSTATION, TRANS_VEHICLE_TYPE, DO_VEHICLE_TYPE,
            VEHICLE_TYPE, TRANS_VEHICLE_ID, DO_VEHICLE_ID,
            TRANS_SUBTR_FEE, OWE_FEE, SUBTR_FEE,
            TRANS_TIME, TRANS_OBU_ID, TRANS_CARD_ID,
            ORDER_STATUS, PAY_BACK_FEE_ID, PAY_BACK_FEE_REALITY
            )
        values (#{id,jdbcType=VARCHAR}, #{pastOrderId,jdbcType=VARCHAR}, #{enstation,jdbcType=VARCHAR},
            #{exstation,jdbcType=VARCHAR}, #{transVehicleType,jdbcType=VARCHAR}, #{doVehicleType,jdbcType=VARCHAR},
            #{vehicleType,jdbcType=VARCHAR}, #{transVehicleId,jdbcType=VARCHAR}, #{doVehicleId,jdbcType=VARCHAR},
            #{transSubtrFee,jdbcType=VARCHAR}, #{oweFee,jdbcType=VARCHAR}, #{subtrFee,jdbcType=VARCHAR},
            #{transTime,jdbcType=VARCHAR}, #{transObuId,jdbcType=VARCHAR}, #{transCardId,jdbcType=VARCHAR},
            #{orderStatus,jdbcType=VARCHAR}, #{payBackFeeId,jdbcType=VARCHAR}, #{payBackFeeReality,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.sutong.auditPastOrderInfo.model.AuditPastOrderInfo" >
        insert into AUDIT_PAST_ORDER_INFO
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="pastOrderId != null" >
                PAST_ORDER_ID,
            </if>
            <if test="enstation != null" >
                ENSTATION,
            </if>
            <if test="exstation != null" >
                EXSTATION,
            </if>
            <if test="transVehicleType != null" >
                TRANS_VEHICLE_TYPE,
            </if>
            <if test="doVehicleType != null" >
                DO_VEHICLE_TYPE,
            </if>
            <if test="vehicleType != null" >
                VEHICLE_TYPE,
            </if>
            <if test="transVehicleId != null" >
                TRANS_VEHICLE_ID,
            </if>
            <if test="doVehicleId != null" >
                DO_VEHICLE_ID,
            </if>
            <if test="transSubtrFee != null" >
                TRANS_SUBTR_FEE,
            </if>
            <if test="oweFee != null" >
                OWE_FEE,
            </if>
            <if test="subtrFee != null" >
                SUBTR_FEE,
            </if>
            <if test="transTime != null" >
                TRANS_TIME,
            </if>
            <if test="transObuId != null" >
                TRANS_OBU_ID,
            </if>
            <if test="transCardId != null" >
                TRANS_CARD_ID,
            </if>
            <if test="orderStatus != null" >
                ORDER_STATUS,
            </if>
            <if test="payBackFeeId != null" >
                PAY_BACK_FEE_ID,
            </if>
            <if test="payBackFeeReality != null" >
                PAY_BACK_FEE_REALITY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="pastOrderId != null" >
                #{pastOrderId,jdbcType=VARCHAR},
            </if>
            <if test="enstation != null" >
                #{enstation,jdbcType=VARCHAR},
            </if>
            <if test="exstation != null" >
                #{exstation,jdbcType=VARCHAR},
            </if>
            <if test="transVehicleType != null" >
                #{transVehicleType,jdbcType=VARCHAR},
            </if>
            <if test="doVehicleType != null" >
                #{doVehicleType,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null" >
                #{vehicleType,jdbcType=VARCHAR},
            </if>
            <if test="transVehicleId != null" >
                #{transVehicleId,jdbcType=VARCHAR},
            </if>
            <if test="doVehicleId != null" >
                #{doVehicleId,jdbcType=VARCHAR},
            </if>
            <if test="transSubtrFee != null" >
                #{transSubtrFee,jdbcType=VARCHAR},
            </if>
            <if test="oweFee != null" >
                #{oweFee,jdbcType=VARCHAR},
            </if>
            <if test="subtrFee != null" >
                #{subtrFee,jdbcType=VARCHAR},
            </if>
            <if test="transTime != null" >
                #{transTime,jdbcType=VARCHAR},
            </if>
            <if test="transObuId != null" >
                #{transObuId,jdbcType=VARCHAR},
            </if>
            <if test="transCardId != null" >
                #{transCardId,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="payBackFeeId != null" >
                #{payBackFeeId,jdbcType=VARCHAR},
            </if>
            <if test="payBackFeeReality != null" >
                #{payBackFeeReality,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sutong.auditPastOrderInfo.model.AuditPastOrderInfo" >
        update AUDIT_PAST_ORDER_INFO
        <set >
            <if test="pastOrderId != null" >
                PAST_ORDER_ID = #{pastOrderId,jdbcType=VARCHAR},
            </if>
            <if test="enstation != null" >
                ENSTATION = #{enstation,jdbcType=VARCHAR},
            </if>
            <if test="exstation != null" >
                EXSTATION = #{exstation,jdbcType=VARCHAR},
            </if>
            <if test="transVehicleType != null" >
                TRANS_VEHICLE_TYPE = #{transVehicleType,jdbcType=VARCHAR},
            </if>
            <if test="doVehicleType != null" >
                DO_VEHICLE_TYPE = #{doVehicleType,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null" >
                VEHICLE_TYPE = #{vehicleType,jdbcType=VARCHAR},
            </if>
            <if test="transVehicleId != null" >
                TRANS_VEHICLE_ID = #{transVehicleId,jdbcType=VARCHAR},
            </if>
            <if test="doVehicleId != null" >
                DO_VEHICLE_ID = #{doVehicleId,jdbcType=VARCHAR},
            </if>
            <if test="transSubtrFee != null" >
                TRANS_SUBTR_FEE = #{transSubtrFee,jdbcType=VARCHAR},
            </if>
            <if test="oweFee != null" >
                OWE_FEE = #{oweFee,jdbcType=VARCHAR},
            </if>
            <if test="subtrFee != null" >
                SUBTR_FEE = #{subtrFee,jdbcType=VARCHAR},
            </if>
            <if test="transTime != null" >
                TRANS_TIME = #{transTime,jdbcType=VARCHAR},
            </if>
            <if test="transObuId != null" >
                TRANS_OBU_ID = #{transObuId,jdbcType=VARCHAR},
            </if>
            <if test="transCardId != null" >
                TRANS_CARD_ID = #{transCardId,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="payBackFeeId != null" >
                PAY_BACK_FEE_ID = #{payBackFeeId,jdbcType=VARCHAR},
            </if>
            <if test="payBackFeeReality != null" >
                PAY_BACK_FEE_REALITY = #{payBackFeeReality,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sutong.auditPastOrderInfo.model.AuditPastOrderInfo" >
        update AUDIT_PAST_ORDER_INFO
        set PAST_ORDER_ID = #{pastOrderId,jdbcType=VARCHAR},
            ENSTATION = #{enstation,jdbcType=VARCHAR},
            EXSTATION = #{exstation,jdbcType=VARCHAR},
            TRANS_VEHICLE_TYPE = #{transVehicleType,jdbcType=VARCHAR},
            DO_VEHICLE_TYPE = #{doVehicleType,jdbcType=VARCHAR},
            VEHICLE_TYPE = #{vehicleType,jdbcType=VARCHAR},
            TRANS_VEHICLE_ID = #{transVehicleId,jdbcType=VARCHAR},
            DO_VEHICLE_ID = #{doVehicleId,jdbcType=VARCHAR},
            TRANS_SUBTR_FEE = #{transSubtrFee,jdbcType=VARCHAR},
            OWE_FEE = #{oweFee,jdbcType=VARCHAR},
            SUBTR_FEE = #{subtrFee,jdbcType=VARCHAR},
            TRANS_TIME = #{transTime,jdbcType=VARCHAR},
            TRANS_OBU_ID = #{transObuId,jdbcType=VARCHAR},
            TRANS_CARD_ID = #{transCardId,jdbcType=VARCHAR},
            ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            PAY_BACK_FEE_ID = #{payBackFeeId,jdbcType=VARCHAR},
            PAY_BACK_FEE_REALITY = #{payBackFeeReality,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>