<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sutong.dodgingtoll.mapper.AuditCodeTableMapper" >

    <resultMap id="BaseResultMap" type="com.sutong.dodgingtoll.model.AuditCodeTable" >
        <id column="CODE_ID" property="codeId" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="GENERAL_NAME" property="generalName" jdbcType="VARCHAR" />
        <result column="DES" property="des" jdbcType="VARCHAR" />
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
        <result column="CODE_TYPE" property="codeType" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        CODE_ID, CODE, NAME, GENERAL_NAME, DES, PARENT_CODE, CODE_TYPE
    </sql>

    <select id="doFindAuditCodeTableList" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from AUDIT_CODE_TABLE
        where GENERAL_NAME = #{generalName,jdbcType=VARCHAR}
    </select>

    <select id="getNameByCodeAndGen" parameterType="java.lang.String" resultType="java.lang.String">
        select
        DISTINCT(
        AUDIT_CODE_TABLE.NAME
        )
        from
        AUDIT_CODE_TABLE
        <where>

            <if test="code != null" >
               AND AUDIT_CODE_TABLE.CODE=#{code}
            </if>

            <if test="generalName != null" >
               and  AUDIT_CODE_TABLE.GENERAL_NAME=#{generalName}
            </if>
            <if test="parentCode != null" >
               and PARENT_CODE=#{parentCode}
            </if>

        </where>

    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from AUDIT_CODE_TABLE
        where CODE_ID = #{codeId,jdbcType=VARCHAR}
    </select>


</mapper>